/* Add a black background color to the top navigation */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color:#83A298;
    --bg2-color: #eaebed;
    --text-color: #FFFFFF;
    --main-color: #dcdee7;
    --vefa-color:#526d64;
    --bodybg-color:#c0c7cc;
    --line-color:#526d64;
}
body{
    min-height: 100vh;
    background: var(--bodybg-color);
    color: var(--text-color);

}
hr{border: 1px solid var(--line-color)}
header{
    background-color:var(--bg-color);
    margin:0;
    position: relative;
    width: 100%;
    top: 0;
    right :0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 25px 13%;
    transition: all .2s ease;
}

a[bar="true"]{
    transition: .1s;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 23px;
    
    
    
    transition: all .50s ease;
  }
  a[bar="true"]:not(:hover){
    text-shadow:0px 0px 5px rgb(10, 26, 34);
    
  }
a[bar="true"]:hover{
    color: var(--vefa-color);
    font-weight:800;
   
    -webkit-text-stroke-color: 2px 2px #aeee00;
    -webkit-text-fill-color: #082a46;
}
.logo{
  margin-top: -4px;
  display: flex;
  align-items: center;
  position:absolute;
  
}
.logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
  font-weight: 600;

}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;

}

input[type="text"]{
    position:relative;
    margin-left:55px;
    margin-top: -6px;
    border-radius: 20px;
    height:42px;
    width:350px;
    border-style:none;
    padding-left:20px;
    font-size: 0.8rem;
    font-weight: 700;

}
.navbar button{
    width: 42.5px;
    height:42.5px;
    border-radius: 23px;
    font-size: 1.3em;
    position: absolute;
    border:1px solid black;
    margin-top:-6px;
    margin-left:-11.1mm;
    
}
input[type="text"], textarea, select { 
    outline: none;
}
input:focus {
    border: 2.3px solid #1670BE;
    box-shadow: 0 0 3px #082a46;
    outline-offset: 0px;
    outline: none;
    border-color:var(--line-color);
}
.navbar{
  display:flex;
  margin-left:130px;

}

.main{
    display:flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.main a:hover{
    color: var(--vefa-color);
    
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media (max-width: 1280px){
    header{
      padding: 14px 2%;
      transition: .2s;
    }
    a[bar="true"]{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display:block;

    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    
    }
    .navbar a{
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all .50s ease;
    }
    .navbar a.hover{
      color: var(--text-color);
      transform: translate(5px);
     
    }
    .navbar.open{
        right: 2%;
    }
}
